* {
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

* ::-webkit-scrollbar {
  display: none;
}

html {
  height: 100vh;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  /* background-color: black; */
  /* color: #333; */
  margin: 0;
  height: 100%;
  /* position: relative; */
}

main {
  display: flex;
  height: 100%;
}

.left-panel {
  width: 30%;
  /* height: 100%; */
  background-color: rgb(128, 150, 172);
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}


.right-scroll {
  width: 70%;
  /* height: 100%; */
  /* background-color: #aaa; */
  color: #333;
  /* display: flex; */
  /* flex-direction: column; */
  overflow: scroll;
}

.item-panel {
  height: 100%;
  /* background-color: bisque; */
  /* background-color: black; */
  background-color: rgb(39, 85, 131);
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.panel-caption {
  position: absolute;
  width: 80%;
  height: 60px;
  top: 20px;
  left: 10%;
  font-size: large;
  background-color: rgba(255, 255, 255, 0.2);
}

.iphone-div {
  height: calc(100% - 60px);
  width: 100%;
  /* background-color: rgb(39, 85, 131); */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iphone-div > img {
  /* height: 100%; */
  width: 100%;
}

@media only screen and (max-width: 768px) {
  main {
    flex-direction: column;
  }

  .left-panel {
    height: 200px;
    position: sticky;
    width: 100%;
  }

  .right-scroll {
    width: 100%;
  }
}